public/moroz_na_utrennik_price.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="theme-color" content="#e43a46">
    <link rel="shortcut icon" href="/images/star.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/lightbox.min.css">
    <link rel="stylesheet" href="/css/MainCss.css">
    <title>Дед мороз в СПб на утренник - цена.</title>
    <meta name="description" content="Вызов Деда Мороза на утренник. Цена  в Санкт-Петербурге">
    <style type="text/css" rel="stylesheet">
      .header__navigation > div:nth-child(3) > a {
          text-decoration: underline
      }
      
    </style>
  </head>
  <body>
    <div class="allContent__wrapper">
      <div class="header">
        <input class="header__mMenu" type="checkbox" id="menu">
        <label class="header__mMenuIcon" for="menu">Меню</label>
        <div class="header__content"><a class="header__logo" href="/">
            <svg class="header__icon" viewBox="0 0 570.757 570.757">
              <use class="i_header" xlink:href="#christmasTree" x="0" y="0"></use>
            </svg>
            <div class="header__logoText">Мороз На Ёлку</div></a>
          <nav class="header__navigation">  
            <div><a href="/">Главная</a></div>
            <div><a href="/o_nas.html">О нас</a></div>
            <div class="header__select"><a class="noMobile" href="#">Цены</a>
              <div class="header__selectList mobile"><a href="/moroz_na_dom_price.html"><span class="mobile">Цены на Дом</span><span class="noMobile">Дома</span></a><a href="/moroz_na_utrennik_price.html"><span class="mobile">Цены на Утренники</span><span class="noMobile">Утренники</span></a><a href="/moroz_na_korporativ_price.html"><span class="mobile">Цены на Корпоративы</span><span class="noMobile">Корпоративы</span></a></div>
            </div>
            <div class="header__select"><a class="noMobile" href="/programs.html">Программы</a>
              <div class="header__selectList mobile"><a href="/dedmoroz_na_dom.html"><span class="mobile">Программы для Дома</span><span class="noMobile">Дома</span></a><a href="/dedmoroz_na_utrennik.html"><span class="mobile">Программы для Утренников</span><span class="noMobile">Утренники</span></a><a href="/dedmoroz_na_korporativ.html"><span class="mobile">Программы для Корпоративов</span><span class="noMobile">Корпоративы</span></a></div>
            </div>
            <div><a href="/photo_gallery.html">Галлерея</a></div>
            <div><a href="/contacts.html">Контакты</a></div>
          </nav>
          <div class="header__contact"><a class="header__phone" href="tel:+78129099609"> +7(965) 057 99 42</a><a class="header__post" href="/invite.html">Пригласить</a><a class="header__vk" href="https://vk.com/moroznaelku">Вк</a></div>
        </div>
      </div>
      <div class="prices">
        <h1 class="prices__title">Дед Мороз На Утренники! Цены.</h1>
        <div class="prices__content">
          <p class="prices__listContent">Первый морозец и снежок напоминают, что весь декабрь будет суетливым, но радостным ожиданием новогоднего праздника. И в детских садах вовсю учат стишки и танцы, вырезают снежинки, украшают елочку - готовятся к встрече с Дедушкой Морозом и Снегурочкой. Оформите заказ, сделайте эту встречу по-настоящему сказочной!</p>
          <p class="prices__listContent">
            Мы подготовили много интерактивных программ для каждого возраста. Никаких стандартных конкурсов, только авторские сценарии: новогодние скетчи, игры с реквизитом, музыкальное сопровождение, веселые танцы. Наиболее популярные программы - на 40 минут и на 1 час.
            
          </p>
          <p class="prices__listContent">Узнать подробней или сделать заказ можно по телефону: &nbsp;<a href="tel:+79650579942"> +7(965) 057 99 42</a>&nbsp;или&nbsp;<a href="/invite.html">Через форму на сайте</a></p>
          <h2 class="prices__title prices__title--h2 pricesMobile">Цены На Поздравление.</h2>
          <div class="prices__tables prices__tables--middle">
            <div class="prices__tablesHeader">Время</div>
            <div class="prices__tablesHeader">Дед Мороз</div>
            <div class="prices__tablesHeader">Дед Мороз и Снегурочка</div>
            <div class="prices__tablesRow"> 15-20 мин</div>
            <div class="prices__tablesRow">от 3 000 руб</div>
            <div class="prices__tablesRow">от 4 000 руб.</div>
            <div class="prices__tablesRow">40 мин</div>
            <div class="prices__tablesRow">от 3 500 руб.</div>
            <div class="prices__tablesRow">от 5 000 руб.</div>
            <div class="prices__tablesRow"> 1 час</div>
            <div class="prices__tablesRow">от 5 000 руб.</div>
            <div class="prices__tablesRow">от 7 000 руб.</div>
            <div class="prices__tablesRow">1 час 30 мин</div>
            <div class="prices__tablesRow">от 7 000 руб.</div>
            <div class="prices__tablesRow">от 10 000 руб.</div>
          </div>
          <div class="prices__text">Стоимость зависит от количества детей, дня и времени проведения в школу или дедский сад</div>
        </div>
      </div>
      <footer>
        <footer class="footer">
          <div class="footer__content" itemscope itemtype="http://schema.org/Organization"><a class="footer__logo" href="/">
              <svg class="footer__icon" viewBox="0 0 570.757 570.757">
                <use class="i_footer" xlink:href="#christmasTree" x="0" y="0"></use>
              </svg>
              <div class="footer__logoText" itemprop="name">
                <div>Мороз</div>
                <div>На</div>
                <div>Ёлку</div>
              </div></a>
            <div class="adress" style="display:none" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span>Адрес:</span><span itemprop="streetAddress">Хасанская 2</span><span itemprop="postalCode">195426</span><span itemprop="addressLocality">Санкт-Петербург</span></div>
            <nav class="footer__navigation"><a href="/">Главная</a><a href="/programs.html">Программы</a><a href="/moroz_na_dom_price.html">Цены</a><a href="/photo_gallery.html">Фотографии</a><a href="/invite.html">Пригласить</a><a href="/blog.html">Интересно</a><a href="/contacts.html">Контакты</a></nav>
            <div class="footer__contact"><a class="footer__phone" href="tel:+79650579942" itemprop="telephone"> +7(965) 057 99 42</a><a class="footer__mail" href="mailto:moroznaelku@mail.ru" itemprop="email">moroznaelku@mail.ru</a><a class="footer__post" href="/invite.html">Заказать</a></div>
          </div>
          <div class="footer__metrik">
            <div class='metrik'>
            
              <!-- Rating@Mail.ru counter -->
            
              <script type="text/javascript">
            
                  var _tmr = _tmr || [];
            
                  _tmr.push({id: "2594700", type: "pageView", start: (new Date()).getTime()});
            
                  (function (d, w) {
            
                      var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
            
                      ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
            
                      var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
            
                      if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
            
                  })(document, window);
            
              </script><noscript><div style="position:absolute;left:-10000px;">
            
              <img src="//top-fwz1.mail.ru/counter?id=2594700;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
            
            </div></noscript>
            
              <!-- //Rating@Mail.ru counter -->
            
            
            
              <!-- Rating@Mail.ru logo -->
            
              <a href="http://top.mail.ru/jump?from=2594700">
            
                <img src="//top-fwz1.mail.ru/counter?id=2594700;t=318;l=1"
            
                     style="border:0;" height="15" width="88" alt="Рейтинг@Mail.ru" /></a>
            
              <!-- //Rating@Mail.ru logo -->
            
            </div>
            
            <div class='metrik'>
            
            
            
              <!-- Yandex.Metrika informer -->
            
              <a href="http://metrika.yandex.ru/stat/?id=23061607&amp;from=informer"
            
                 target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/23061607/1_0_A9DCFFFF_89BCE2FF_1_pageviews"
            
                                                     style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" onclick="try{Ya.Metrika.informer({i:this,id:23061607,lang:'ru'});return false}catch(e){}"/></a>
            
              <!-- /Yandex.Metrika informer -->
            
            
            
              <!-- Yandex.Metrika counter -->
            
              <script type="text/javascript">
            
                  (function (d, w, c) {
            
                      (w[c] = w[c] || []).push(function() {
            
                          try {
            
                              w.yaCounter23061607 = new Ya.Metrika({id:23061607,
            
                                  clickmap:true,
            
                                  trackLinks:true,
            
                                  accurateTrackBounce:true});
            
                          } catch(e) { }
            
                      });
            
            
            
                      var n = d.getElementsByTagName("script")[0],
            
                          s = d.createElement("script"),
            
                          f = function () { n.parentNode.insertBefore(s, n); };
            
                      s.type = "text/javascript";
            
                      s.async = true;
            
                      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
            
            
            
                      if (w.opera == "[object Opera]") {
            
                          d.addEventListener("DOMContentLoaded", f, false);
            
                      } else { f(); }
            
                  })(document, window, "yandex_metrika_callbacks");
            
              </script>
            
              <noscript><div><img src="//mc.yandex.ru/watch/23061607" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            
              <!-- /Yandex.Metrika counter -->
            
            </div>
            
            
            
            <div class='metrik'>
            
              <!--begin of Bonbone-->
            
              <a href='http://bonbone.ru/' title='Популярный каталог ресурсов интернет'>
            
                <img src='http://bonbone.ru/bon.php?549544' width=88 height=15 border=0></a>
            
              <!--end of Bonbone-->
            
            </div>
            
            
            
            <script type="application/ld+json">
            
            {
            
            "@context": "http://moroznaelku.ru",
            
            "@type": "Дед мороз и снегурочка",
            
            "url": "http://www.moroznaelku.ru",
            
            "contactPoint": [{
            
            "@type": "ContactPoint",
            
            "telephone": "+7(812)909 96 09",
            
            "contactType": "Новогодние праздники!"
            
            }]
            }
            
            </script>
          </div>
        </footer>
        <div class="svg" style="display:none">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 570.757 570.757">
            <g id="christmasTree">
              <path d="M487.499,340.392c-114.5,16.5-224.9,49-336.6,77.7c106.8-52.601,226.1-78.3,332.3-134c9.2-4.9,5.5-21.4-5.5-20.5    c-60.6,6.1-120.899,21.4-176.899,44.701c-46.201,19.3-90.601,44.1-138.901,55.1c79.9-51.4,179-80.5,271.1-94.601    c11.9-1.8,9.2-22.3-2.8-21.1c-20.8,2.1-41.6,6.4-62.1,11.3c-23.9,5.2-47.4,11.6-71,19.3c-30,8-59.701,15.301-90,17.7    c3.1-1.199,6.1-2.399,9.2-3.399c26.9-4,53.2-14.101,79.301-26.301c52-16.8,103.399-34.3,149.899-65.2c10.4-7,3.7-22-8.3-19.6    c-12.2,2.4-24.5,6.1-36.399,11c-39.801,10.4-79.601,22.9-119.301,33.4c40.101-13.5,79.301-28.5,116.301-50.2    c10.1-5.8,3.399-23.3-8.301-19.3c-23.899,8.3-46.8,18.7-70.1,28.8c-0.6-0.6-0.9-0.9-1.5-1.5c8.6-4.6,17.1-9.2,25.4-14.7    c9.8-6.4,3.699-21.4-8-19c-11.601,2.8-23,6.4-34,10.1c17.6-10.6,35-21,51.5-32.7c9.199-6.1,3.699-22.9-8-18.7    c-18.7,6.7-36.4,15.9-54.801,24.5c8.9-5.5,17.4-11.3,25.7-17.7c7.3-5.8-0.6-17.7-8.899-15.3c-1.2,0.3-2.101,0.6-3.4,0.9    c0.9-1.5,2.1-2.8,3.1-4.3c4.9-6.4-4.6-15.3-11-11c-7.699,4.3-15.6,8.6-23.3,12.9c-6.4,2.8-5.8,11-1.2,13.5    c-3.4,3.1-3.1,7.3-0.9,10.7c-18.2,10.4-37.2,19.5-55,31.2c-8,5.2-5.2,18.7,5.2,18.7c9.5,0,18.7-1.2,27.8-3.4    c-4.6,3.4-9.2,6.4-13.8,9.8c-9.5,7-4,20.5,8,19c4.3-0.6,8.3-1.5,12.2-2.4c0,0.6,0,1.5,0,2.1c-18.4,6.1-36.1,13.5-52,25.7    c-2.4,1.8-4,4-4.6,6.4c-13.8,4.6-27.2,9.5-41,14.7c-10.7,4-10.1,21.4,2.8,21.1c3.4,0,6.7-0.3,10.1-0.6c-3.1,1.8-6.1,4-9.2,6.1    c-6.7,4.9-7.3,17.4,2.4,19.301h0.3c-4.3,1.8-8.3,4-12.5,5.8c-10.7,5.2-4,19,5.5,19.9c14.4,1.8,28.8,1.8,43.1,0.899    c-30.6,15.601-59.4,33.4-85.7,54.2c-7.3,5.8-1.2,18.4,7.3,18.1c22.6-0.899,44.1-5.5,65.2-11.899c-38.9,16.5-76.5,35.5-112,59.1    c-9.8,6.7-3.7,22,8,19.3c36.1-8.6,72.2-18.1,108-27.5c-24.8,10.4-48.7,22.301-71.6,37c-10.7,6.7-3.4,20.801,8,19.301    c112.4-17.4,212.201-76.4,322.3-101.2c-68.9,52-170.4,60.3-247.9,93.3h-0.3l0,0c-0.9,0.3-1.8,0.6-2.4,0.9    c-11.6,5.199-3.1,21.699,8.3,19.6c39.5-8.6,78.3-19.6,117.8-27.8c-17.7,8-35.2,16.2-52.601,24.8c-9.2,4.6-4.9,19.9,5.2,19    c7.3-0.6,14.4-0.3,21.7,0c-4.6,14.4-10.7,28.2-17.7,41.9c-5.8,11.6,11.9,22,17.4,10.399c9.8-19.899,18.1-38.2,23.3-59.7    c0.9-4-0.6-8-3.399-10.699c26.3-11.9,52.899-23.9,78.6-37c9.2-4.601,5.2-20.5-5.2-19.601c-0.3,0-0.899,0-1.2,0    c38.601-14.7,73.7-34,101.301-64.899c3.699-4.301,3.699-8.9,1.5-12.5c0,0,0,0,0.3,0    C507.399,357.192,501.499,338.292,487.499,340.392z M199.499,273.392c21.4-10.1,44.7-15.9,68.2-20.2    c-19.6,6.4-39.5,12.9-58.8,19.9C205.599,273.392,202.599,273.392,199.499,273.392z M267.499,346.492    c41-18.399,82.301-34.3,125.2-45.3c-43.5,17.4-88.1,32.4-132.2,48.3C262.899,348.392,264.999,347.492,267.499,346.492z"></path>
              <path d="M328.399,22.191c-4.9,1.2-9.8,2.4-14.7,3.4c-3.7-7-7.7-13.8-11.6-20.5c-4.9-8-16.5-6.1-19.301,2.4    c-2.4,7.7-4.9,15.6-7.3,23.3c-5.8,0.3-11.6,0.6-17.4,0.6c-11.9,0-15.3,19-2.8,21.1c4,0.6,8.3,1.5,12.2,2.4    c-1.2,3.7-2.4,7-3.7,10.7c-2.8,7.3,7.3,11.6,12.2,6.7c0.6,0.3,1.2,0.6,1.8,0.9c9.501,2.4,17.4-3.4,25.101-8.3    c3.1,1.2,6.4,2.1,9.5,3.4c8,3.1,15-5.8,13.2-13.2c-0.3-1.5-0.9-3.1-1.5-4.6c4.3-3.1,8.3-5.8,12.5-8.6    C347.3,35.592,340.6,19.092,328.399,22.191z"></path>
            </g>
          </svg>
        </div>
      </footer>
    </div>
  </body>
  <script rel="script" src="/script/jquery-3.3.1.min.js"></script>
  <script rel="script" src="/script/lightbox.min.js"></script>
  <script rel="script" src="/script/script.js"></script>
</html>

source/moroz_na_utrennik_price.pug
extends blocks/MainLayout.pug

block head
    title Дед мороз в СПб на утренник - цена.
    meta(name="description" content="Вызов Деда Мороза на утренник. Цена  в Санкт-Петербурге")
    style(type='text/css' rel="stylesheet").
        .header__navigation > div:nth-child(3) > a {
            text-decoration: underline
        }

block content
    .prices
        h1.prices__title Дед Мороз На Утренники! Цены.

        .prices__content
            p.prices__listContent.
                Первый морозец и снежок напоминают, что весь декабрь будет суетливым, но радостным ожиданием новогоднего праздника. И в детских садах вовсю учат стишки и танцы, вырезают снежинки, украшают елочку - готовятся к встрече с Дедушкой Морозом и Снегурочкой. Оформите заказ, сделайте эту встречу по-настоящему сказочной!
            p.prices__listContent.
                Мы подготовили много интерактивных программ для каждого возраста. Никаких стандартных конкурсов, только авторские сценарии: новогодние скетчи, игры с реквизитом, музыкальное сопровождение, веселые танцы. Наиболее популярные программы - на 40 минут и на 1 час.

            p.prices__listContent Узнать подробней или сделать заказ можно по телефону: &nbsp;
                a(href="tel:+79650579942")  +7(965) 057 99 42
                |&nbsp;или&nbsp;
                a(href="/invite.html") Через форму на сайте

            h2.prices__title.prices__title--h2.pricesMobile Цены На Поздравление.

            .prices__tables.prices__tables--middle
                .prices__tablesHeader Время
                .prices__tablesHeader Дед Мороз
                .prices__tablesHeader Дед Мороз и Снегурочка

                .prices__tablesRow  15-20 мин
                .prices__tablesRow от 3 000 руб
                .prices__tablesRow от 4 000 руб.

                .prices__tablesRow 40 мин
                .prices__tablesRow от 3 500 руб.
                .prices__tablesRow от 5 000 руб.

                .prices__tablesRow  1 час
                .prices__tablesRow от 5 000 руб.
                .prices__tablesRow от 7 000 руб.

                .prices__tablesRow 1 час 30 мин
                .prices__tablesRow от 7 000 руб.
                .prices__tablesRow от 10 000 руб.

            .prices__text.
                Стоимость зависит от количества детей, дня и времени проведения в школу или дедский сад


        
